<% if current_user %>
<% friends = Friendship.where(:user_id => current_user.id) %>
<form id="new_channel" action="/channels">
  <ul>
  <% friends.each do |friend| %>
    <% fImage = Identity.find(friend.user_id).image %>
    <li><button id="<%= friend.friend_id %>"><% if !fImage.nil? %><%= fImage %><% else %><%= image_tag("noImage.png") %><% end %><%= friend.name %></button></li>
  <% end %>
  </ul>
</form>
<% end %>