<aside id="friendsColumn">
  <div class="scrollUp">^</div>
    <ul>
      <% for user in users %>
        <% if user.name != current_user1.name %>
            <% if Identity.where(:id => current_user1.id).first.image.nil? %>
              <li>Image Missing</li>
            <% else %>
            <li>
              <%= link_to user %>
            </li>
            <% end %>
            <li>
              <%= link_to user.name, user %>
            </li>
        <% end %>
      <% end %>
    </ul>
  <div class="scrollDown">V</div>
</aside>