

<div style=" padding:20px"></div>



<div id="dashboard">


 <div id="left-nav">
   <div id="nav_header" >My Friends</div>
     <table>
     <tr>
       <td>
          <table>

           <%= render 'my_friends' %>
 
          </table>
       </td>
      </tr>
    </table>

</div>

  <br/><br/>