<ul>
  <% Album.where(:identity_id => current_user.id).each do |album| %>
    <li>
      <button type="button" data-album="<%= album.id %>">
        <img src="" />
        <br />
        <%= album.name %>        
      </button>
    </li>
  <% end %>
</ul>