<div style="border:1px solid black">
<div id="categories_msg"></div>
<form name="categories_form" id="categories_form" method="post" action="/identities/update_categories" onSubmit="categoriesFormSubmit(this);return false;">
  
<ul>
<% categories.each do |category| %>
  <li>
  
    <% if category.categoryContains(current_identity1.categories , category.id) %>
 		<%= check_box_tag "categories[]", category.id, true %>
	<% else %>
	 	 <%= check_box_tag "categories[]", category.id, false %>
	<% end %>
 
    <label for=""><%=category.name%></label>
  </li>
<% end %>
</ul>
<input type="submit" value="update" name="categories_submit"/>
</form>
</div>
  
