<div style="border:1px solid black">
<div id="categories_msg"></div>
<form name="categories_form" id="categories_form" method="post" action="/identities/update_categories">
  
<ul class="rateMyCategories">
<% categories.each do |category| %>
  <li class="rateMyCategoriesList">
  
    <% if category.categoryContains(current_identity1.categories , category.id) %>
 		<%= check_box_tag "categories[]", category.id, true %>
	<% else %>
	 	 <%= check_box_tag "categories[]", category.id, false %>
	<% end %>
 
    <%=category.name%>
  </li>
<% end %>
</ul>
<input type="submit" value="update" name="categories_submit"/>
</form>
</div>
  
