
<% if current_user1 %>
<% if photos1.count == 0 %>
        No Photos uploaded for this user.
<% end %>
<% end %>

<ul id="photos_list">
<% if current_user1 %>
<% photos1.each do |photo| %>
<div id='dialog<%=photo.id%>' > 
<li>
  
   <%=image_tag(photo.image.url ,:size => '50x50' , :title => 'Click to Tag It' ,  :onclick => "openPhoto( '#{photo.id}' , '#{photo.image.url}' )") %>
  
  <%= photo.caption %>
  </div>
  </li>
  <% end %>
  <% end %>
  </ul>
    