/*-----------------]: base :[---------------------*/

* {
  font-family: “helvetica”,arial,sans-serif;
}
body {}

body >  .sidebar1 {
  float: right;
  text-align: center;
  width: 300px;
  height:600px;
}

#mainHeader {
  border-bottom: 1px solid #eee;
  min-height: 30px;
}
.headerNav  {
  float: right;
  width: 225px;
}
.headerNav img {
  margin: -6px auto;
}
.headerNav img.userMenuButton {
  margin-top: 0px;
}
#appWrap {
  width: 100%;
}
#appWrap section {
  border: 1px solid #BBBDBF;
  display: inline-block;
  float: left;
  margin: 2px;
  max-height: 320px;
  min-height: 300px;
  padding: 0;
  width: 600px;
  overflow:scroll;
}
.gidget {}

#socialGidget .gidgetIcon {
  border: 1px solid #777;
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
#socialGidget .title_and_message {
  left: 54px;
  position: relative;
}
.mini {}
.gidgetHeader {
  border-bottom: 1px solid #929191;
  height: 30px;
  padding: 0;
  width: 300px;
}
.rateMyCategory li {
  padding: 0 0 0 5px;
}
.gidgetTitle {
  font-weight: 700;
  margin-top: -10px;
}
/* 
Begin Posts
*/


p {
  font-size: 15px;
  margin: 10px;
}
ul {
  list-style: none;
}
ol {
  padding-left: 20px;
}
dt {
  color: #555;
  font-weight: bolder;
  margin-bottom: 5px;
}
dd {
  margin: 5px 0 10px 10px;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  //display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container{
 border:1px solid black;
 margin-top:20px;
 padding:3px; 
}
 
#wbx-gw-button-0{
 display:none;
}
#wbx-gw-button-1{
 display:none;
}
#wbx-gw-button-2{
 display:none;
}
#wbx-gw-button-3{
 display:none;
}
#wbx-gw-button-4{
 display:none;
}
#wbx-gw-button-5{
 display:none;
}
.sidewrap {
  display: none;
}
.options_settings {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  display: none;
  float: right;
  margin: -1px -221px 0 0;
  padding: 4px;
  position: relative;
  width: 82px;
  z-index: 9999;
}
.options_settings ul {

}

.options_settings ul li {
}

.options_settings ul li:hover {
  background: #ddd;
  color: #fff;
  cursor: pointer;
}

#addNewRateMyPost {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px 0 0 0;
  box-shadow: 1px 1px 2px 2px #999999;
  float: right;
  padding: 2px;
  position: relative;
  right: 0;
  top: 7%;
  width: 12px;
}

#addNewRateMyPost:hover {
  box-shadow: 1px 1px 2px 2px #333333;
  cursor: pointer;
}

.add {
  height: 12px;
  width: 12px;
}