/*-----------------]: base :[---------------------*/

* {
  font-family: “helvetica”,arial,sans-serif;
}
body {}

body >  .sidebar1 {
  float: right;
  text-align: center;
  width: 300px;
  height:600px;
}

#mainHeader {
  border-bottom: 1px solid #eee;
  min-height: 30px;
}
.headerNav  {
  float: right;
  width: 225px;
}
.headerNav img {
  margin: -6px auto;
}
.headerNav img.userMenuButton {
  margin-top: 0px;
}
#appWrap {
  width: 1024px;
}
#appWrap section {
  border: 1px solid #BBBDBF;
  display: inline-block;
  float: left;
  margin: 2px;
  max-height: 320px;
  min-height: 300px;
  padding: 0;
  width: 300px;
  overflow:scroll;
}
.gidget {}
.gidgetIcon {
}
.mini {}
.gidgetHeader {
  border-bottom: 1px solid #929191;
  height: 30px;
  padding: 0;
  width: 300px;
}
.rateMyCategory li {
  padding: 0 0 0 5px;
}
.gidgetTitle {
  font-weight: 700;
  margin-top: -10px;
}
/* 
Begin Posts
*/


p {
  font-size: 15px;
  margin: 10px;
}
ul {
  list-style: none;
}
ol {
  padding-left: 20px;
}
dt {
  color: #555;
  font-weight: bolder;
  margin-bottom: 5px;
}
dd {
  margin: 5px 0 10px 10px;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  //display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container{
 border:1px solid black;
 margin-top:20px;
 padding:3px; 
}
 
#wbx-gw-button-0{
 display:none;
}
#wbx-gw-button-1{
 display:none;
}
#wbx-gw-button-2{
 display:none;
}
#wbx-gw-button-3{
 display:none;
}
#wbx-gw-button-4{
 display:none;
}
#wbx-gw-button-5{
 display:none;
}