.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.chatboxhead {
	background-color:  #B5BF65;
	padding:7px;
	color: #ffffff;

	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}

#chatGidget article {
  background: #fff;
}

#chat {
  background: #fff;
}

#friendsColumn ul {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 9px 0 6px -10px #999999;
  height: 304px;
  padding: 10px 0 0 9px;
  position: relative;
  top: -8px;
  width: 60px;
}

#add_friends, #create_chat_room, #chat_with_friends {
  display: none;
  max-height: 304px;
  min-height: 304px;
  overflow: hidden;
}

#add_friends {
  float: left;
  width: 75px;
}

.scrollUp, .scrollDown {
  height: 15px;
  position: absolute;
  width: 70px;
  z-index: 9999;
}

.scrollUp:hover, .scrollDown:hover {
  background: none repeat scroll 0 0 #777;
  opacity: 0.8;
}
.scrollUp {

}

.scrollDown {
  top: 401px;
}

.scroll-up, .scroll-down {
  margin: 5px auto;
  position: relative;
  opacity: 1;
  z-index: 9998;
}

.scroll-up:hover, .scroll-down:hover {
  opacity: 1;
  z-index: 99999;
}

#chatInput {
  float: right;
  position: relative;
  top: -55px;
  width: 84%;
}

#chatInput textarea {
  bottom: 0;
  float: right;
  left: -29px;
  position: relative;
  resize: none;
  right: 0;
  top: 0;
  width: 90%;
}

#chatInput button {
  float: right;
  height: 30px;
  left: 5px;
  position: relative;
  top: 50px;
  width: 30px;
}

#channelIdsWithRadio {
  position: relative;
  top: -141px;
  width: 131px;
}

#chat_with_friends {
  display: block;
  float: right;
  position: relative;
  top: -302px;
  width: 84%;
}

.chatZone {
  background: none repeat scroll 0 0 #FFFFFF;
  float: right;
  height: 225px;
  left: -1px;
  max-height: 225px;
  padding: 4px;
  position: relative;
  width: 83%;
}
.chatPortal {
  display: none;
}
.messageElements {}
.chatPoster {
  font-weight: 700;
}
.chatMessage {

}
.messageTime {
  color: #999;
  font-weight: 700;
  opacity: 0.7;
}