// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rateMyCategories {
  padding: 5px;
  max-height: 259px;
  //overflow: auto;
  width: 290px;
}