<div id="sign_up_right">
  <div style="display: inline; float: right;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="27"  id="categories_"><label for="">Television</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="28"  id="categories_"><label for="">Comedy</label></li>
          <li><input type="checkbox" name="categories[]" value="29"  id="categories_"><label for="">Drama</label></li>
          <li><input type="checkbox" name="categories[]" value="30"  id="categories_"><label for="">Suspense/Horror</label></li>
        </ul>
        <input type="checkbox" name="categories[]" value="31"  id="categories_"><label for="">Entertainment World</label><br>
        <input type="checkbox" name="categories[]" value="32"  id="categories_"><label for="">Magic</label><br>
        <input type="checkbox" name="categories[]" value="33"  id="categories_"><label for="">Conspiracies</label><br>
        <input type="checkbox" name="categories[]" value="34"  id="categories_"><label for="">Night Life</label><br>
        <input type="checkbox" name="categories[]" value="35"  id="categories_"><label for="">Self Improvement</label><br>
        <input type="checkbox" name="categories[]" value="36"  id="categories_"><label for="">Internet</label><br>
        <input type="checkbox" name="categories[]" value="37"  id="categories_"><label for="">Internet Technologies</label><br>
        <input type="checkbox" name="categories[]" value="38"  id="categories_"><label for="">Computers</label><br>
        <input type="checkbox" name="categories[]" value="39"  id="categories_"><label for="">Gadgets</label><br>
        <input type="checkbox" name="categories[]" value="40"  id="categories_"><label for="">Architecture</label><br>
        <input type="checkbox" name="categories[]" value="41"  id="categories_"><label for="">Engineering</label><br>
        <input type="checkbox" name="categories[]" value="42"  id="categories_"><label for="">Space</label><br>
        <input type="checkbox" name="categories[]" value="43"  id="categories_"><label for="">Education</label><br>
        <input type="checkbox" name="categories[]" value="44"  id="categories_"><label for="">Random Fact Of The Day</label><br>
        <input type="checkbox" name="categories[]" value="45"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="46"  id="categories_"><label for="">Photography</label><br>
        <input type="checkbox" name="categories[]" value="47"  id="categories_"><label for="">Medical</label><br>
        <input type="checkbox" name="categories[]" value="48"  id="categories_"><label for="">Miscellaneous</label><br>
        <input type="checkbox" name="categories[]" value="45"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="49"  id="categories_"><label for="">Homes</label><br>
      </li>
    </ul>
  </div>
  <div style="display: inline;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="1"  id="categories_"><label for="">Artwork</label><br>
        <input type="checkbox" name="categories[]" value="2"  id="categories_"><label for="">Auto</label><br>
        <input type="checkbox" name="categories[]" value="3"  id="categories_"><label for="">Animals</label><br>
        <input type="checkbox" name="categories[]" value="4"  id="categories_"><label for="">Boats</label><br>
        <input type="checkbox" name="categories[]" value="5"  id="categories_"><label for="">Funny</label><br>
        <input type="checkbox" name="categories[]" value="6"  id="categories_"><label for="">Electronics</label><br>
        <input type="checkbox" name="categories[]" value="7"  id="categories_"><label for="">Fitness</label><br>
        <input type="checkbox" name="categories[]" value="8"  id="categories_"><label for="">Music</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="9"  id="categories_"><label for="">Country</label></li>
          <li><input type="checkbox" name="categories[]" value="10"  id="categories_"><label for="">Pop/Rock</label></li>
          <li><input type="checkbox" name="categories[]" value="11"  id="categories_"><label for="">Rap</label></li>
          <li><input type="checkbox" name="categories[]" value="12"  id="categories_"><label for="">Electronic</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="13"  id="categories_"><label for="">Sports</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="14"  id="categories_"><label for="">Extreme</label></li>
          <li><input type="checkbox" name="categories[]" value="15"  id="categories_"><label for="">Baseball</label></li>
          <li><input type="checkbox" name="categories[]" value="16"  id="categories_"><label for="">Basketball</label></li>
          <li><input type="checkbox" name="categories[]" value="17"  id="categories_"><label for="">Football</label></li>
          <li><input type="checkbox" name="categories[]" value="18"  id="categories_"><label for="">Soccer</label></li>
          <li><input type="checkbox" name="categories[]" value="19"  id="categories_"><label for="">Hockey</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="20"  id="categories_"><label for="">Books</label><br>
        <input type="checkbox" name="categories[]" value="21"  id="categories_"><label for="">Business</label><br>
        <input type="checkbox" name="categories[]" value="22"  id="categories_"><label for="">News</label><br>
        <input type="checkbox" name="categories[]" value="23"  id="categories_"><label for="">World News</label><br>
        <input type="checkbox" name="categories[]" value="24"  id="categories_"><label for="">Nature</label><br>
        <input type="checkbox" name="categories[]" value="25"  id="categories_"><label for="">College</label><br>
        <input type="checkbox" name="categories[]" value="26"  id="categories_"><label for="">Movies</label><br>
      </li>
    </ul>
  </div>
</div>
<div style="clear: both;"><br/></div>